$border-radius: .425rem;
$font-color: #4B5675;
$font-size: .95rem;
$font-weight: 550;
$light-gray: lightgray;
$focus-border-color: #39f;

@mixin input-style {
    outline: none;
    border-radius: $border-radius;
    padding: .55rem .75rem;
    border: 1px solid $light-gray;
    color: $font-color;
    font-size: $font-size !important;
    font-weight: $font-weight;
}

@mixin focus-style {
    border-color: $focus-border-color;
    outline: none;
}

.type-filter {
    position: relative;
    display: flex;
    width: fit-content;

    select {
        width: 150px;
    }
}

.form-control-filter {
    @include input-style;
}

.form-control-filter:focus {
    @include focus-style;
}

.search-bar {
    @include input-style;
}

.search-bar.no-outline {
    border: none;
}

.search-bar:focus {
    border: 1px solid;
    @include focus-style;
}

.search-bar.no-outline:focus {
    @include focus-style;
}

.react-datepicker__input-container {
    input {
        @include input-style;
    }
}

.react-datepicker__input-container:focus {
    @include focus-style;
}

.react-datepicker__dropdown {
    position: absolute;
    z-index: 9999; 
}