$border-radius: .425rem;
$icon-padding: 24px;
$font-color: #4B5675;
$font-size: .95rem;
$font-weight: 550;
$light-gray: lightgray;
$focus-border-color: #39f;

/* Mixins for reusability */
@mixin icon-style($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    padding: $icon-padding;
    border-radius: $border-radius;
}

@mixin value-text-style($color) {
    color: $color;
    font-weight: $font-weight;
    font-size: calc(1vw + 1rem);

}

@mixin input-style {
    outline: none;
    border-radius: $border-radius;
    padding: .55rem .75rem;
    border: 1px solid $light-gray;
    color: $font-color;
    font-size: $font-size !important;
    font-weight: $font-weight;
}

@mixin focus-style {
    border-color: $focus-border-color;
    outline: none;
}

.plan-page {
    display: flex;          /* Enable flexbox on the container */
    flex-direction: column;  
    justify-content: center; /* Center horizontally */
    .plan-summary {
        border-radius: $border-radius;
        gap: 10px;
        margin-bottom: 10px;
        display: flex;

        .summary-box {
            display: flex;
            background-color: white;
            border-radius: $border-radius;
            padding: 16px;
            gap: 16px;

            .title-text {
                color:#8A8A8A;
                font-weight : 500;
                height: 30%;
            }
        }
        .summary-text-container {
            display: flex;
            flex-direction: column;
        }

        .summary-text-container > * {
            flex-grow: 1;
            display: flex;
        }

        .value-text-total {
            @include value-text-style(#9748FF)
        }

        .value-text-in-progress {
            @include value-text-style(#039EF7)
        }

        .value-text-waiting-approval {
            @include value-text-style(#FE9A02)
        }

        .value-text-approved {
            @include value-text-style(#149143)
        }

        .icon-total {
            @include icon-style(#9748FF, #F6EDFF);
        }

        .icon-in-progress {
            @include icon-style(#039EF7, #E7F6FF);
        }

        .icon-waiting-approval {
            @include icon-style(#FE9A02, #FFF5E7);
        }

        .icon-approved {
            @include icon-style(#149143, #E8F5ED);
        }
    }

    .plan-summary > * {
        flex: 1; /* Make all child elements equal size */
        display: flex; /* Ensure content is displayed correctly inside each child */
    }

    .plan-list {
        background-color: white;
        padding: 32px;
        border-radius: $border-radius;
        gap: 10px;

        .content {
            width: fit-content;
            min-width: 600px;
            margin: auto;
            font-family: "Inter", sans-serif;

            table {
                width: 100%;
                border: none;
                border-collapse: collapse;

                td, th {
                    padding: 10px;
                    text-align: center;
                }

                tbody {
                    tr:nth-child(even) {
                        background-color: rgba(0, 0, 0, 0.05);
                    }

                    tr:hover {
                        background-color: #e6e7e9;
                    }
                }

                thead {
                    color: $font-color;
                }
            }

            .icon-add {
                text-align: right;
            }

            .filter-form {
                position: relative;
                display: flex;
                flex-wrap: nowrap; 
                width: fit-content; 
                gap: 10px;
            }
            
            .filter-form > * {
                flex-shrink: 0;
            }

            .type-filter {
                position: relative;
                display: flex;
                width: fit-content;

                select {
                    width: 150px;
                }
            }

            .form-control-filter {
                @include input-style;
            }

            .form-control-filter:focus {
                @include focus-style;
            }

            .search-bar {
                @include input-style;
                max-width: 192px;
            }

            .search-bar:focus {
                @include focus-style;
            }

            .react-datepicker__input-container {
                input {
                    @include input-style;
                    max-width: 160px;
                }
            }

            .react-datepicker__input-container:focus {
                @include focus-style;
            }

            .react-datepicker__dropdown {
                position: absolute;
                z-index: 9999; 
            }

            .blue-button {
                @include input-style;
                background-color: #39f; /* Bootstrap primary blue */
                text-decoration: none;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s;
            }
            
            .blue-button:hover {
                background-color: #0056b3; /* Darker blue on hover */
            }

            .icon-close {
                position: absolute;
                font-size: 11px;
                cursor: pointer;
                top: 10px;
                right: 20px;
                color: gray;
            }

            .icon-search {
                display: flex;
                align-items: center;
                margin-left: 10px;

                svg {
                    cursor: pointer;
                }
            }

            .paging {
                display: flex;
                justify-content: flex-end;
                margin-top: 5px;

                .page-item.active .page-link {
                    background-color: #3399ff !important;
                    border-color: transparent !important;
                }
            }

            /* Status Box */
            .status-box {
                padding: 5px 10px;
                border-radius: 5px;
                color: #fff;
                font-weight: bold;
                display: inline-block;

                &.in_progress {
                    background-color: #FFD700;
                }

                &.waiting_for_approval {
                    background-color: #FFF5E6;
                    color: #F90;
                }

                &.approved {
                    background-color: #E3FAE1;
                    color: #119143;
                }

                &.returned {
                    background-color: #FF4500;
                }

                &.retrieved {
                    background-color: #1E90FF;
                }

                &.cancelled {
                    background-color: #DC143C;
                }
            }
        }
        .pagination-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px; /* Spacing between buttons */
            list-style: none;
            padding: 0;
            margin: 20px 0;
        
            .page-item {
                display: flex;
        
                .page-link {
                    padding: 10px 15px;
                    font-size: 14px;
                    color: #007bff;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    text-decoration: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
        
                    &:hover {
                        background-color: #f0f0f0;
                        border-color: #bbb;
                    }
                }
        
                &.active .page-link {
                    background-color: #007bff;
                    color: #fff;
                    border-color: #007bff;
                    font-weight: bold;
                }
        
                &.disabled .page-link {
                    color: #aaa;
                    cursor: not-allowed;
                    background-color: #f9f9f9;
                }
            }
        
            .break-item .page-link {
                background: transparent;
                border: none;
                cursor: default;
                color: #555;
            }
        }
        
    }
}
