$border-radius: .425rem;
$icon-padding: 24px;
$font-color: #4B5675;
$font-size: .95rem;
$font-weight: 550;
$light-gray: lightgray;
$focus-border-color: #39f;


@mixin input-style {
    outline: none;
    border-radius: $border-radius;
    padding: .55rem .75rem;
    border: 1px solid $light-gray;
    color: $font-color;
    font-size: $font-size !important;
    font-weight: $font-weight;
}

@mixin focus-style {
    border-color: $focus-border-color;
    outline: none;
}

.plan-page {
    .blurred {
        filter: blur(5px);  /* Adjust the blur value as needed */
        transition: filter 0.3s ease-in-out;
    }
    
    /* Optional: Style for the modal backdrop */
    .modal-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
        z-index: 999;  /* Ensure backdrop is on top */
    }

    .plan-details {
        position: absolute;
        top: 75%;                 /* Vertically center */
        left: 50%;                /* Horizontally center */
        transform: translate(-50%, -50%); /* Adjust to exact center */
        background-color: white;
        padding: 32px;
        border: 1px solid $light-gray;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column; /* Align children vertically */
        gap: 10px; /* Optional gap between items */
        align-items: stretch; /* Force children to match the width of the parent */
        width: 50%; /* Ensure this takes up full width of parent */
        z-index: 1000;

        .filter-form {
            position: relative;
            display: flex;
            flex-wrap: nowrap; 
            width: fit-content; 
            gap: 10px;
        }
        
        .filter-form > * {
            flex-shrink: 0;
        }

        .type-filter {
            position: relative;
            display: flex;
            width: fit-content;

            select {
                width: 150px;
            }
        }

        .form-control-filter {
            @include input-style;
        }

        .form-control-filter:focus {
            @include focus-style;
        }

        .large-editor {
            width: 100%;
            max-width: 500px;
            font-size: 20px;
            height: 200px;
            min-height: 200px;
            margin-bottom: 32px;
            white-space: normal; 
            word-wrap: break-word;
            overflow-wrap: break-word;
          }

        .ql-container {
          white-space: normal !important;
          word-wrap: break-word !important;
          overflow-wrap: break-word !important; 
        }

        .search-bar {
            @include input-style;
        }

        .search-bar:focus {
            @include focus-style;
        }

        .react-datepicker__input-container {
            input {
                @include input-style;
                max-width: 160px;
            }
        }

        .react-datepicker__input-container:focus {
            @include focus-style;
        }

        .react-datepicker__dropdown {
            position: absolute;
            z-index: 9999; 
        }

        .blue-button {
            @include input-style;
            background-color: #39f; /* Bootstrap primary blue */
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        
        .blue-button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
        
    }
}
