$border-radius: .425rem;
$icon-padding: 24px;
$font-color: #4B5675;
$font-size: .95rem;
$font-weight: 550;
$light-gray: lightgray;
$focus-border-color: #39f;


@mixin input-style {
    outline: none;
    border-radius: $border-radius;
    padding: .55rem .75rem;
    border: 1px solid $light-gray;
    color: $font-color;
    font-size: $font-size !important;
    font-weight: $font-weight;
}

@mixin focus-style {
    border-color: $focus-border-color;
    outline: none;
}

.plan-detail-page {
    display: flex;
    height: 100%;
    width: 100%;
    .component-label-group {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .side-bar {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 30%;
        padding: 24px;
        row-gap: 10px;
    }
    .label-text {
                
        color: $font-color;
        font-size: $font-size !important;
        font-weight: $font-weight;
    }

    .main-form {
        width: 70%;
        margin: 24px 32px;
        .content {
            margin-bottom: 8px;
            background-color: white;
            padding: 16px;
            border: 1px solid $light-gray;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: stretch;
            z-index: 1000;
    
            .inline-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 10px;
            }
    
            .inline-group > * {
                flex-grow: 1;
            }
            
    
            .filter-form {
                position: relative;
                display: flex;
                flex-wrap: nowrap; 
                width: fit-content; 
                gap: 10px;
            }
            
            .filter-form > * {
                flex-shrink: 0;
            }
    
            .type-filter {
                position: relative;
                display: flex;
                width: fit-content;
    
                select {
                    width: 150px;
                }
            }
    
            .form-control-filter {
                @include input-style;
            }
    
            .form-control-filter:focus {
                @include focus-style;
            }
    
            .large-editor {
                width: 100%;
                max-width: 100%;
                font-size: 20px;
                height: 300px;
                min-height: 200px;
                margin-bottom: 64px;
                white-space: normal; 
                word-wrap: break-word;
                overflow-wrap: break-word;
              }
    
            .ql-container {
              white-space: normal !important;
              word-wrap: break-word !important;
              overflow-wrap: break-word !important; 
            }
        }
        
    }
}

@media (max-width: 768px) {
    .plan-detail-page  {
        display: flex;
        flex-direction: column;
        .main-form {
            width: 100%;
            margin: 0;
            .content {
                border-radius: 0;
                border:none;
            }
        }
        .side-bar{
            width: 100vw;
        }
    }
}

.plan-detail-page > * {
    flex-shrink: 1;
}
