.to-do-panel {
    height: 75vh;
    max-width: 468px;
    margin-bottom: 8px;
    background-color: white;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: .425rem;
}

.list-item {
    padding: 4px;
    margin-bottom: 8px;
}

.truncate-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}