.sidebar {
    width: 14rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #1E1E2D;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 350ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
    z-index: 200;
}

.sidebar.close { 
    transform: translate(-14rem, 0);
}

.sidebar-close-button {
    
    margin-left: auto;
    padding: 10px;;
    height: 32px;
}



.close-btn {
    display: none;
    background: none;
    border: none;
    color: #8E8FA1;
}

.close-btn:hover {
    color: white;
}

@media (max-width: 768px) {
    .close-btn {
        display: inline;
    }
    
}

.sidebar-header {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -32px;
    pointer-events: none;
}


.sidebar-menu {
    background-color: none;
    flex: 1;
}
