
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

:root {
    --bs-primary-rgb: 4, 52, 162 !important;
    --navbar-height: 4rem;
    --size-unit: 12rem;
}

.main-body {
    background: url(https://thhp.vn/themes/frontend/bhy/Assets/imgs/bg3.png) no-repeat top center;
    background-size: contain;
}

nav {
    height: var(--navbar-height) !important;
}

.h-1 { height: calc(var(--size-unit) * .25); }
.h-2 { height: calc(var(--size-unit) * .5); }
.h-3 { height: var(--size-unit); }
.h-4 { height: calc(var(--size-unit) * 1.5); }
.h-5 { height: calc(var(--size-unit) * 3); }

.w-1 { width: calc(var(--size-unit) * .25); }
.w-2 { width: calc(var(--size-unit) * .5); }
.w-3 { width: var(--size-unit); }
.w-4 { width: calc(var(--size-unit) * 1.5); }
.w-5 { width: calc(var(--size-unit) * 3); }